[alias]
  co = checkout
  com = checkout master
  cob = checkout -b
  cp = cherry-pick
  st = status
  cl = clone
  ci = commit
  br = branch
  unstage = reset HEAD --
  amend = commit -a --amend --verbose

  fuckall = reset HEAD --hard

  # Diff related
  dc = diff --cached
  dl = "!git ll -1"
  dlc = diff --cached HEAD^

  # Rebase related
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rbm = rebase master
  rbmi = rebase -i master

  # Branches related
  # list branches sorted by last modified
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  # Delete all branches except master
  clbr = "!git branch | grep -v master | xargs git branch -D"

  # Log related
  last = --no-pager log -1 HEAD
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  le = log --oneline --decorate
[core]
  editor = vim
